includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    level: 8

    excludePaths:

    checkMissingIterableValueType: false

    universalObjectCratesClasses:
        - App\Models\Model
        - A17\Twill\Models\Model
        - A17\Twill\Capsules\Base\Model
        - Illuminate\Support\Facades\Route
        - A17\TwillTransformers\Transformer
        - Illuminate\Database\Eloquent\Model

    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder.*#'

    reportUnmatchedIgnoredErrors: false

    checkGenericClassInNonGenericObjectType: false

    scanFiles:
        - app/Twill/Capsules/Base/helpers.php
        - app/Twill/Capsules/FeatureFlags/Support/helpers.php
